

body {
	font-family: Helvetica, sans-serif;
	background-color: #ffffff; 
	margin: 0; 
	padding: 0; 
	color :#323232;
	text-align: center;
}

.wrapper {
	width: 1400px;
	height: 270px;
	background: #f0f0f0 repeat; margin: 0 auto;
	padding: 25px 50px 0 50px;

}

.vestibulum {
	margin-left: 260px;
	margin-right: 260px;
	
}

.bottem_wrapper {
	color: #222222;

}

h2 {
	font-size: 27px;
}

.desk {
	width: 940px;
	height: 400px;
}