

body {
	font-family: Helvetica, sans-serif;
	background-color: #ffffff; 
	margin-top: 50px; 
	padding: 0; 
	color :#323232;
	text-align: center;

}

header {
	border-bottom: 2px solid #e03d4e;

}
.wrapper {
	width: 1400px;
	height: 270px;
	background: #f0f0f0 repeat; margin: 0 auto;
	padding: 25px 50px 0 50px;

}

.vestibulum {
	margin-left: 260px;
	margin-right: 260px;

}

.bottem_wrapper {
	border-top: 2px solid #e03d4e;
	color: #222222;
	margin-top: 52px;
	margin-bottom: 52px;
}

h2 {
	font-size: 27px;
}

.desk {
	margin-top: 52px;
	width: 940px;
	height: 400px;
	float: center;
}

.product3,
.product2,
.product1 {
	width: 32%;
	float: center;

}

.product1 {
	margin-right: 2%;
}