

body {
	font-family: Helvetica, sans-serif;
	background-color: #ffffff; 
	margin-top: 50px; 
	padding: 0; 
	text-align: center;

}

header {
	border-bottom: 2px solid #e03d4e;

}
.wrapper {
	width: 47%;
	background-color: #f0f0f0;
	padding: 25px 50px 0 50px;

}

.vestibulum {
	margin-left: 260px;
	margin-right: 260px;

}

.bottem_wrapper {
	border-top: 5px solid #e03d4e;
	background-color: #222222;
	height: 196px;
}

.bottem_logo {
	width: 60px;
	height: 80px;
	margin-top: 52px;
	margin-bottom: 52px;
	text-align: center;
}


h2 {
	font-size: 27px;
}

.desk {
	margin-top: 52px;
	width: 940px;
	height: 400px;
	float: center;
}

.product3,
.product2,
.product1 {
	width: 32%;
	float: center;

}

.product1 {
	margin-right: 2%;
}

.logo {
	width: 81px;
	height:108px;
	border-bottom: 1px solid #c0c0c0;
	text-align: center;
}

#nav {
  float: center;
}

#nav ul {
  list-style-type: none;
}

  #nav ul li {
    font-size: 14px;
    font-weight: normal;
    line-height: 100px;
    text-align: center;
  }

  #nav ul li.active a {
    color: #e03d4e !important;
    font-weight: bold;
  }